*.txt
/bin
*.bin
*.o
*.dot
*.png
/dialogue_programm/app
/dialogue_programm/*.txt
/dialogue_programm/*.a
/dialogue_programm/*.dot
/dialogue_programm/*.png
/dialogue_programm/*.o
/test_programm/*.o
/test_programm/*.txt
/test_programm/example
/test_programm/test
/test_programm/*.a
/extra_task/*.a
/extra_task/*.o
/extra_task/task
/extra_task/*.txt
/extra_task/gen.py
