/test_programm/*.txt
/test_programm/*.dot
/test_programm/*.png
/dialogue_programm/*.txt
/dialogue_programm/*.dot
/dialogue_programm/*.png
/dialogue_programm/*.a
/dialogue_programm/app
/test_programm/error.h
/test_programm/hidden_funcs.c
/test_programm/hidden_functions.h
/test_programm/library_funcs.c
/test_programm/library.h
/test_programm/test
/test_programm/example
/test_programm/*.a
/test_programm/.gitkeep

/extra_task/error.h
/extra_task/library_funcs.c
/extra_task/library.h
/extra_task/*.txt
/extra_task/insert_to_bin
/extra_task/*.bin
/extra_task/*.a
/extra_task/task
../.vcdode/
/extra_task/gen.py
